.outerContainer {
  margin: 9rem auto 0 auto;
  width: 90%;
}
.contents {
  margin: 0 auto;
  max-width: 700px;
}
.formContainer {
  max-width: 500px;
  margin: 0 auto;
}

.confButton {
  margin: 0 auto;
}

.popContent {
  display: flex;
  flex-flow: column;
}

.displayedNone {
  display: none;
}
.tag-inputs {
  margin: 10%;
}

.supplement-detail {
  color: lightgray;
}
.product-container {
  flex-direction: column;
}
.product-container .ant-typography strong {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.product-container button {
  min-width: 80px;
  margin-left: 5px;
}
