.outerContainer{
    margin-top: 7rem;
}
.contents{
    margin: auto;
    max-width: 700px;
}
.formContainer{
    max-width: 500px;
    margin: 0 auto;
}

.confButton{
    margin: 0 auto;
}

.popContent{
    display: flex;
    flex-flow: column;
}

.displayedNone{
    display: none;
}
.spec-inputs {
    margin: 10%
}

h1 {
    text-align: center;
}

.supplement-detail{
    color: lightgray;
}
