.product-page {
  padding: 10%;
}

.product-container {
  border-top: 1px solid lightgray;
  display: flex;
  padding-top: 5%;
  justify-content: center;

}

.carousel-container {
  height: 300px;
  background-color: lightpink;
  width: 50%;
}

.tags-container {
    display: flex;
}

.tags {
    /* background-color: lightgray;
    border-radius: 15%; */
    width: 80px;
    text-align: center;
    margin: 1%;
}

.item {
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
  width: 50%;
  flex-direction: column;
}

.name-price {
  font-size: xx-large;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rating {
 
  
}

.store-name{

    display: flex;
    margin-top: 2%;
}

h3 {
    margin-left: 1%;
}