.nope{
    display: none;
}

.searchOuter{
    background-color: white;
    max-width: 1000px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.searchBar{
    max-width: 300px;
}

.searchButton{
    margin-right: 5px;
    background-color: rgb(19, 75, 29);
    color: white;
}