.productListWrapper {
    width: 100%;
}

.productsWrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8rem;
    justify-content: space-between;
    align-items: baseline;
}

.productCard {
    width: 15rem;
    height: 100%;
    margin-bottom: 3rem;
}