
.cardContainer{
    height: 130px;
    border-bottom: solid lightgray 1px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 10px 0 10px 0;
   
}
.cardImage{
    width: 150px;
    height: 120px;
    border-radius: 6px;
    object-fit: contain;
}
.cardDesc{
    width: 60%;
    max-width: 120px;
    overflow-y: hidden;
    max-width: 400px;
    font-size: .75rem;
}
.descText{
    margin-bottom: .125rem;
}
.cardPrice{
    margin-top: 10%;
}