
.nav-container{
    background-color:rgb(50, 72, 168);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    max-width: 1000px;
    margin: 0 auto;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 100px;
    height: 50px;
    background-color: white;
}

a{
    color: white;
    margin-left: 15px;
}
a:hover{
    font-weight: bold;
    color: white;
}
.message {
    margin-right: auto;
}
