
.nav-container{
    background-color: white;
    color: black;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 4;
    align-items: center;
    padding: 1% 10%;
    /* filter: drop-shadow(.1px .1px 5px #000); */
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-links {
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.nav-links > a {
    color: darkgrey
}

.nav-links > a:hover {
    color: blueviolet;
}

.logo{
    width:5rem;
    height: 5rem;
    background-color: white;
    font-weight: 400;
    color: black;
    font-size: smaller
}

.logo > span {
    color: rebeccapurple;
}
.nav > a{
    color: black;
    margin-left: 15px;
}
.nav > a:hover{
    font-weight: bold;
    color: rebeccapurple;
}

.nav > a:last-child{
    margin-left: auto;
    padding-right: 10%;
}
